// =============================================================================
// Base style values
// =============================================================================

$base-font-family: Trebuchet MS, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.231;
$base-font-color: $color-b10;

$header-font-family: 'Calligraffitti', Georgia, serif;
$header-font-color: $color-b10;

$blogtitle-font-family: 'Calligraffitti', Georgia, serif;

$link-color: $color-b30;
$link-color-hover: $color-paleyellow;
$link-color-active: $color-b60;
$link-color-visited: $color-b30;
$link-color-focus: $color-paleyellow;

$selected-font-color: $color-b100;  // color for selected text
$selected-background-color: $color-b20;  // bg-color for selected text