.aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    @include float( left );
}
.alignright {
    @include float( right );
}
.wp-caption {
    background: {
        color: $color-b95;
    }
    border: {
        color: $color-b85;
        style: solid;
        width: 1px;
    }
    @include border-radius( 3px );
    margin: 10px;
    padding-top: 4px;
    text-align: center;
    img {
        border: 0 none;
        margin: 0;
        padding: 0;
    }
    p.wp-caption-text {
        @include font-size( $base-font-size * 0.83 );
        line-height: 1.06;
        margin: 0;
        padding: 0 4px 5px;
    }
}