// =============================================================================
// Custom colors
// =============================================================================



// =============================================================================
// Light Gradient
// =============================================================================

$light-0:   #000000;
$light-5:   scale-lightness( $light-0, 5 );
$light-10:  scale-lightness( $light-0, 10 );
$light-15:  scale-lightness( $light-0, 15 );
$light-20:  scale-lightness( $light-0, 20 );
$light-25:  scale-lightness( $light-0, 25 );
$light-30:  scale-lightness( $light-0, 30 );
$light-35:  scale-lightness( $light-0, 35 );
$light-40:  scale-lightness( $light-0, 40 );
$light-45:  scale-lightness( $light-0, 45 );
$light-50:  scale-lightness( $light-0, 50 );
$light-55:  scale-lightness( $light-0, 55 );
$light-60:  scale-lightness( $light-0, 60 );
$light-65:  scale-lightness( $light-0, 65 );
$light-70:  scale-lightness( $light-0, 70 );
$light-75:  scale-lightness( $light-0, 75 );
$light-80:  scale-lightness( $light-0, 80 );
$light-85:  scale-lightness( $light-0, 85 );
$light-90:  scale-lightness( $light-0, 90 );
$light-95:  scale-lightness( $light-0, 95 );
$light-100: scale-lightness( $light-0, 100 );
