// =============================================================================
// General element styles
// =============================================================================

input, select, textarea {
	background: $light-95;
	border: 0;
}

// =============================================================================
// Primary styles
// =============================================================================

#header-banner {
	hgroup {
		@include h5bp-clearfix;
		position: relative;
	}
	h1 {
		$f: $base-font-size * 3.00;
		@include adjust-font-size-to( $f );
		@include rhythm( 0, 0, 0, 1, $f );
		position: relative;
		z-index: 1;
		a {
			@include unstyled-link;
			cursor: pointer;
			z-index: 1;
		}
	}
	.blog-description {
		@include adjust-font-size-to( $base-font-size * 1, 2 );
		font-style: italic;
		margin-right: 1em;
		position: absolute;
			bottom: -1.0em;
			left: 3em;
		z-index: 0;
	}
}

#nav-primary {
	li {
		background: $light-80;
		text-align: center;
	}
	a {
		@include link-colors( $light-10, $light-90 );
		display: block;
		padding: 0 1em;
		text-decoration: none;
		&:hover {
			background: $light-50;
		}
	}
}

.js #nav-primary > ul { display: none; }
.js .tinynav { display: block; }

.sidebar > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget {
	@include rhythm( 0, 0, 0, 1 );
}

.widget_search {
	label {
		display: none;
	}
}