// =============================================================================
// min-width: 480px
// =============================================================================

#nav-primary {
	> ul {
		@include horizontal-list-container;
		> li {
			@include horizontal-list-item( false );
		}
	}
	li > ul {
		display: none;
	}
}

.js #nav-primary > ul { display: block; }
.js .tinynav { display: none; }

#sidebar-main {
	> ul {
		@include horizontal-list-container;
		> li {
			@include horizontal-list-item( false );
			white-space: normal;
		}
	}
	.widget {
		@include span-columns( 6 );
		&:nth-child(2n) { @include omega; }
	}
}