// =============================================================================
// Compass default overrides
// =============================================================================

//$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5; 
// Don't forget to also adjust the the line height for Baseline.js in main.js

//$default-rhythm-border-style: solid;
//$relative-font-sizing: true;
//$round-to-nearest-half-line: false;
//$min-line-padding: 2px;
//$font-unit: if( $relative-font-sizing, 1em, $base-font-size );

// =============================================================================
// H5BP default overrides
// =============================================================================

//$font-family: sans-serif;
$font-size: $font-unit;
$line-height: $base-line-height;
//$font-color: #222;

//$link-color: #00e;
//$link-hover-color: #06e;
//$link-visited-color: #551a8b;

//$selected-font-color: #fff;
//$selected-background-color: #fe57a1;

//$invalid-background-color: #f0dddd;