// =============================================================================
// WordPress image class styles
// =============================================================================

.aligncenter, .alignleft, .alignright {
	@include rhythm( 0.5, 0, 0, 0.5 );
}
.aligncenter, div.aligncenter {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    @include float( left );
	margin-right: 1em;
}
.alignright {
    @include float( right );
	margin-left: 1em;
}
.alignnone {
	@include rhythm( 1, 0, 0, 0 );
	margin-right: 0.5em;
	vertical-align: bottom;
}
.wp-caption {
    @include rhythm( 0, 0, 0, 1 );
	background: {
        color: $light-95;
    }
    border: {
        color: $light-85;
        style: solid;
        width: 1px;
    }
    @include border-radius( 3px );
	padding-left: 0.5em;
	padding-right: 0.5em;
    text-align: center;
    img {
        @include rhythm( 0, 0.5, 0.25, 0 );
		border: 0 none;
        margin: 0;
    }
    p.wp-caption-text {
        @include adjust-font-size-to( $base-font-size * 0.83 );
        @include rhythm( 0, 0, 0.25, 0 );
		margin-top: -1px;
    }
}
.gallery {
	margin: auto;
	.gallery-item {
		@include rhythm( 0.5, 0, 0, 0.5 );
		text-align: center;
	}
	.gallery-caption {
		@include adjust-font-size-to( $base-font-size * 0.83 );
		margin-left: 0;
	}
}