// =============================================================================
// Custom colors
// =============================================================================

$color-darkblue: #040b20;
$color-paleyellow: #ffff99;


// =============================================================================
// Gradient
// =============================================================================

$color-b0:   $color-darkblue;
$color-b5:   scale-lightness( $color-b0, 5 );
$color-b10:  scale-lightness( $color-b0, 10 );
$color-b15:  scale-lightness( $color-b0, 15 );
$color-b20:  scale-lightness( $color-b0, 20 );
$color-b25:  scale-lightness( $color-b0, 25 );
$color-b30:  scale-lightness( $color-b0, 30 );
$color-b35:  scale-lightness( $color-b0, 35 );
$color-b40:  scale-lightness( $color-b0, 40 );
$color-b45:  scale-lightness( $color-b0, 45 );
$color-b50:  scale-lightness( $color-b0, 50 );
$color-b55:  scale-lightness( $color-b0, 55 );
$color-b60:  scale-lightness( $color-b0, 60 );
$color-b65:  scale-lightness( $color-b0, 65 );
$color-b70:  scale-lightness( $color-b0, 70 );
$color-b75:  scale-lightness( $color-b0, 75 );
$color-b80:  scale-lightness( $color-b0, 80 );
$color-b85:  scale-lightness( $color-b0, 85 );
$color-b90:  scale-lightness( $color-b0, 90 );
$color-b95:  scale-lightness( $color-b0, 95 );
$color-b100: scale-lightness( $color-b0, 100 );
