// =============================================================================
// Default style values
// =============================================================================

$font-family: Trebuchet MS, sans-serif;
$font-size: 1em;
$line-height: 1.4;
$font-color: $color-b10;

$link-color: $color-b30;
$link-hover-color: $color-paleyellow;
$link-visited-color: $color-b30;

$selected-font-color: $color-b100;
$selected-background-color: $color-b20;

$invalid-background-color: #f0dddd;