// =============================================================================
// General styles
// =============================================================================

h1, h2, h3, h4, h5, h6 {
    color: $color-b10;
    font-family: 'Calligraffitti', Georgia, serif;
    font-weight: bold;
}
h1    { font-size: 2.00em; margin: 0 0 0.67em }
h2    { font-size: 1.50em; margin: 0 0 0.75em }
h3    { font-size: 1.17em; margin: 0 0 0.83em }
h4, p { font-size: 1.00em; margin: 0 0 1.12em }
h5    { font-size: 0.83em; margin: 0 0 1.50em }
h6    { font-size: 0.75em; margin: 0 0 1.67em }

a { text-decoration: none; }


// =============================================================================
// Primary styles
// =============================================================================

body {
    background: $color-b0 image-url( 'noctilucent_bg.jpg' ) top center repeat-y fixed;
}

#container {
    margin-top: 1em;
	> header {
		$header-height: 112px;
		height: $header-height;
		@include text-shadow( $color-b0 0 0 3px );
		color: rgb( 255, 255, 255); // Fallback
		color: rgba( 255, 255, 255, 0.8);
		margin-bottom: 14px;
		hgroup {
			height: $header-height;
			h1 {
				font-family: 'Calligraffitti', Georgia, serif;
				font-size: 60px;
				margin: 0;
			}
			#description {
				font-family: 'Calligraffitti', Georgia, serif;
			}
		}
		nav {
			font-family: 'Calligraffitti', Georgia, serif;
			height: $header-height;
			line-height: $header-height;
			position: relative;
			> ul {
				@include inline-block;
				line-height: $base-line-height;
				vertical-align: bottom;
				@include horizontal-list-container;
				li {
					@include horizontal-list-item( false );
					font-weight: bold;
					margin-bottom: 5px;
				}
				a {
					background: image-url( 'nav-cloud_c.png' ) bottom center no-repeat;
					display: block;
					padding-bottom: 13px;
					text-align: center;
					@include outerwidth( ( 460px / 3 ), 10px, 10px );
					&:hover {
						background: image-url( 'nav-cloud_d.png' ) bottom center no-repeat;
					}
				}
				.sub-menu {
					display: none;
				}
			}
		}
		a {
			color: rgb( 255, 255, 255); // Fallback
			color: rgba( 255, 255, 255, 0.8);
			text-decoration: none;
			&:hover {
				color: $color-paleyellow;
				@include text-shadow( $color-paleyellow 0 0 5px );
			}
		}
    }
    > footer {
		@include text-shadow( $color-b0 0 0 6px );
		color: rgb( 255, 255, 255); // Fallback
		color: rgba( 255, 255, 255, 0.8);
		padding: 10px 0;
		a {
			color: rgb( 255, 255, 255); // Fallback
			color: rgba( 255, 255, 255, 0.8);
			text-decoration: none;
			&:hover {
				color: $color-paleyellow;
				@include text-shadow( $color-paleyellow 0 0 5px );
			}
		}
    }
}

#main {
    
}

.content {
    background: image-url( 'main_bg.png' );
	border-top: 2px solid $color-paleyellow;
	@include border-bottom-radius( 20px );
	@include box-shadow( $color-b0 0 3px 5px );
	> article {
		padding: 20px 20px 10px;
        > header {
            border-bottom: 1px solid $color-b80;
			margin-bottom: 1.12em;
			h1 {
				margin: 0;
				a:hover:after {
					content: ' \00bb';
				}
				.singular & a {
					@include unstyled-link;
					&:hover:after {
						content: '';
					}
				}
			}
        }
    }
	#comments {
		padding: 10px 20px 20px;
	}
}

.sidebar {
    background: image-url( 'main_bg.png' );
	border-top: 2px solid $color-paleyellow;
	@include border-bottom-radius( 10px );
	@include box-shadow( $color-b0 0 3px 5px );
	> ul {
        list-style: none;
        margin: 0;
        padding: 10px;
    }
}

#sidebar-main {
    .widget {
        margin-bottom: 1em;
    }
}

#sidebar-footer {
    .widget {
        @include float( left );
    }
}